<div class="start-screen">
    <img src="assets/img/background.jpg" alt="">

    <div class="header">
        <h1>Ring of Fire</h1>
    </div>

    <div class="rules">
        <p id="scroll-text">
            Welcome Friend!<br><br>
            It's a classic at basically every pre-drinks,
            Freshers event and house party ever,
            Ring of Fire is a guaranteed crowd pleaser.
            Plus, unlike games such as beer pong,
            there's little equipment or prep needed.
            Simply open the App on your phone or PC, start a game and share the URL with the other players, 
            a huge pint glass and a group of willing participant and voilà. The game is
            also known as King's Cup, Circle of Death (lovely!) and Doughnut.</p>
    </div>

    <div class="start-label-box">
        <h2 (click)="newGame()">Play</h2>
        <img src="assets/img/fire.gif" alt="">
    </div>
</div>