.player {
    width: 100px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    flex-direction: column;
    
    
    span{
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    background-color: rgba(158, 149, 133, 0.71);

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;  
        border-radius: 100%;
    }
}

.player-active {
    background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(137, 203, 217, 1) 9%, rgba(221, 165, 19, 1) 92%);
}