/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 720px) {
    .hide-desktop {
        display: none;
    }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e08d1a #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e08d1a;
    border-radius: 20px;
    border: 1px none #3f3131;
  }